[Unit]
Description=Run Tictoc Factory every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=tictoc-factory.service
Persistent=true

[Install]
WantedBy=timers.target
